## PreProcessing

### Importing Libraries

In [29]:
import pandas as pd

In [30]:
raw_csv_data=pd.read_csv('Absenteeism_data.csv')

In [31]:
raw_csv_data.sample(5)

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
164,17,11,07/03/2016,179,22,40,343.253,22,2,2,0,40
199,14,12,27/04/2016,155,12,34,326.452,25,1,2,0,24
474,10,22,28/07/2017,361,52,28,230.290,27,1,1,4,8
208,28,19,03/05/2016,225,26,28,378.884,24,1,1,2,8
464,18,25,14/07/2017,330,16,28,230.290,25,2,0,0,8

### Dropping ID

In [32]:
raw_csv_data=raw_csv_data.drop('ID',axis=1)

### Grouping Reason For Absenties

In [33]:

raw_csv_data['Reason 1']=0
raw_csv_data['Reason 2']=0
raw_csv_data['Reason 3']=0
raw_csv_data['Reason 4']=0
    
for i in range(len(raw_csv_data)):
    if raw_csv_data['Reason for Absence'][i] in range(1,15):
        raw_csv_data['Reason 1'][i]=1
    elif raw_csv_data['Reason for Absence'][i] in range(15,18):
        raw_csv_data['Reason 2'][i]=1
    elif raw_csv_data['Reason for Absence'][i] in range(18,22):
        raw_csv_data['Reason 3'][i]=1
    else:
        raw_csv_data['Reason 4'][i]=1

C:\Users\Ghost\AppData\Local\Temp\ipykernel_7888\4026698087.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_csv_data['Reason 4'][i]=1
C:\Users\Ghost\AppData\Local\Temp\ipykernel_7888\4026698087.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_csv_data['Reason 1'][i]=1
C:\Users\Ghost\AppData\Local\Temp\ipykernel_7888\4026698087.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_csv_data['Reason 3'][i]=1
C:\Users\Ghost\AppData\Local\Temp\ipykernel_7888\4026698087.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_csv_data['Reason 2'][i]=1

In [34]:
raw_csv_data=raw_csv_data.drop('Reason for Absence',axis=1)

### Extracting Month Value and Day of Week from Date Column

In [35]:
raw_csv_data['Month Value']=0
raw_csv_data['Day of the Week']=0

for i in range(len(raw_csv_data)):
    raw_csv_data['Day of the Week'][i]=raw_csv_data['Date'][i].split('/')[0]
    if raw_csv_data['Day of the Week'][i] in range(1,8):
        raw_csv_data['Day of the Week'] = 1
    if raw_csv_data['Day of the Week'][i] in range (8,15):
        raw_csv_data['Day of the Week'] = 2
    if raw_csv_data['Day of the Week'][i] in range (15,22):
        raw_csv_data['Day of the Week'] = 3
    else:
        raw_csv_data['Day of the Week'] = 4
    raw_csv_data['Month Value'][i]=raw_csv_data['Date'][i].split('/')[1]

C:\Users\Ghost\AppData\Local\Temp\ipykernel_7888\1845827855.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_csv_data['Day of the Week'][i]=raw_csv_data['Date'][i].split('/')[0]
C:\Users\Ghost\AppData\Local\Temp\ipykernel_7888\1845827855.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_csv_data['Month Value'][i]=raw_csv_data['Date'][i].split('/')[1]

In [36]:
raw_csv_data

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason 1,Reason 2,Reason 3,Reason 4,Month Value,Day of the Week
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1,07,4
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,1,07,4
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1,07,4
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0,07,4
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1,07,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,23/05/2018,179,22,40,237.656,22,2,2,0,8,1,0,0,0,05,4
696,23/05/2018,225,26,28,237.656,24,1,1,2,3,1,0,0,0,05,4
697,24/05/2018,330,16,28,237.656,25,2,0,0,8,1,0,0,0,05,4
698,24/05/2018,235,16,32,237.656,25,3,0,0,2,0,0,0,1,05,4
699,31/05/2018,291,31,40,237.656,25,1,1,1,2,0,0,0,1,05,4

In [37]:
raw_csv_data=raw_csv_data.drop('Date',axis=1)

### Mapping Education

In [38]:
raw_csv_data['Education']=raw_csv_data['Education'].map({1:0,2:1,3:1,4:1})

In [40]:
raw_csv_data.sample(5)

,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason 1,Reason 2,Reason 3,Reason 4,Month Value,Day of the Week
679,179,26,30,237.656,19,1,0,0,1,1,0,0,0,05,4
147,225,26,28,302.585,24,0,1,2,2,0,0,0,1,02,4
180,279,5,39,343.253,24,0,2,0,16,1,0,0,0,03,4
294,248,25,47,265.017,32,0,2,1,0,0,0,0,1,10,4
193,291,31,40,326.452,25,0,1,1,3,0,0,0,1,04,4